<div class="row">
	<div class="span6 offset3">
		<%= simple_form_for(@quote, html: {class: 'form-vertical'}) do |f| %>
		
			<%= f.label :city_id %>
			<%= f.select :city_id, @cities %>
			<%= f.label :vehicle %>
			<%= f.select :vehicle, @vehicles %>
			<%= f.input :cc_engine, label: "Engine cc", required: true, wrapper_html: {id: "engine"} %>
			<%= f.input :number_cylinders, label: "Cylinders", wrapper_html: {id: "cyls"} %>
			<%= f.label :plaking_date %>
			<%= f.date_select :plaking_date, order: [:month, :year], start_year: Time.new.year, discard_day: true %>
			
			<%= f.button :submit, class: 'btn btn-large btn-primary' %>
		
		<% end %>
	</div>
</div>