<% provide :title, "Create Quote" %>

<div class="center hero-unit">
<h2>Your Quote is <%= number_to_currency(@quote.amount) %></h2>

<a class="btn btn-small" href="#myModal" role="button" data-toggle="modal">Cancel and Start Again</a>
<a class="btn btn-primary" href="<%= new_order_path %>">Accept and Continue</a>
</div>

<-- Modal -->
<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:sure_to_cancel_quote?) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:did_you_at_least_review_the_Quote?) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:cancel) %></button>
    <a class="btn btn-primary" href="<%= new_quote_path %>"><%= t(:really_quit) %></a>
  </div>
</div>