<% provide :title, t("Create Quote") %>


<%= render 'layouts/status_progress', s1: 1, s2: 4, step_text: "step_1_minitext", w:"12.5", w2:"12.5", substep: 2, subtext: "substep_2" %>

<h2><%= t("Your Quote is", quote_amount: number_to_currency(@quote.amount)) %></h2>
  <div class="row">
  	<div class="span4 offset3">
    	<h3><%= t(:detailed_quote) %></h3>
      	<div class="t-right">
      		<%= render 'quote_lines' %>
      	</div>
    </div>
    <div class="span4 offset3">
        <a class="btn btn-primary" href="<%= new_order_path %>"><%= t("Accept and Continue") %></a>
        <a class="btn btn-small" href="#myModal" role="button" data-toggle="modal"><%= t("Cancel and Start Again") %></a>
  		<%= render 'legal_advice' %>
    </div>
  </div>
  
  
  

<%= render 'modal' %>