<% provide :title, "User #{@user.id}" %>

<h1>User page for <%= @user.name %></h1>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<h2><%= t(:my_orders) %></h2>
<%= render 'orders_list' %>