<div class="span3">
  <div class="picture">
    <a title='<%= t(title) %>' rel="image" href="assets/<%= image %>">
      <%= image_tag image %>
      <div class="image-overlay-zoom"></div>
    </a>
    <div class="item-description <%= sequence %>">
      <h4>
        <a href="#"><%= t(title) %></a>
      </h4>
      <p><%= t(text) %></p>
    </div>
  </div>
</div>