<% provide :title, "Welcome" %>

<hr>
<div class="row">
  <div class="span12">
    <div class="title-out">
      <h3><%= t("4 simple steps") %>:</h3>
    </div>
    <div class="row">
      <%= render 'step', image: "1.jpg", sequence: "uno", title: "Online Quote", text: "step_1_text" %>
      <%= render 'step', image: "2.jpg", sequence: "dos", title: "Documentation", text: "step_2_text" %>
      <%= render 'step', image: "3.jpg", sequence: "tres", title: "Plaking number", text: "step_3_text" %>
      <%= render 'step', image: "4.jpg", sequence: "cuatro", title: "Original", text: "step_4_text" %>
    </div>
  </div>
</div>