<div class="row">
	<div class="span6 offset3">
		<%= simple_form_for(@order, html: {class: 'form-vertical'}) do |f| %>
		  <%= f.input :owner, collection: {t("business")=>"Business", t("personal")=>"Personal"}, prompt: t("Select one") %>
		  <fieldset id="company_data">
		  <legend><%= t("Company data") %></legend>
		  <%= f.input :registered_name %>
		  <%= f.input :cif, label: t("CIF") %>
		  </fieldset>
		  <fieldset id="personal_data">
		  <legend><%= t("Personal data") %><span class="rep"><%= t("representative") %></span></legend>
		  <%= f.input :first_name, input_html: {value: current_user.name} %>
		  <%= f.input :last_name %>
		  <%= f.input :address %>
		  <%= f.input :gender, collection: {t("Mr") => 1, t("Mrs/Ms.") => 2} %>
		  <%= f.input :nif %>
		  <%= f.input :email, input_html: {value: current_user.email} %>
		  <%= f.input :phone_number %>
		  </fieldset>
		  <fieldset id="shop_data">
		  <legend><%= t("Shop data") %></legend>
		  <%= f.input :shop %>
		  <%= f.input :shop_salesman %>
		  <%= f.input :shop_phone %>
		  </fieldset>
		
		  <%= f.button :submit, class: 'btn btn-primary' %>
		
		<% end %>
	</div>
</div>