<%= will_paginate %>

<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th><%= t("Number") %></th>
      <th><%= t("Status") %></th>
      <th><%= t("User") %></th>
      <th><%= t("Shop") %></th>
      <th><%= t("City") %></th>
      <th><%= t("Documentation") %></th>
      <th><%= t("Actions") %></th>
    </tr>
 </thead>
 <tbody>
	 <% @orders.each do |order| %>
	   <tr>
	     <td><%= order.id %></td>
       <td><%= "Order ##{order.id}" %></td>
       <td><%= order.status.name %></td>
       <td><%= order.user.id %></td>
       <td><%= order.shop %></td>
       <td><%= order.quote.city.name %></td>
       <td>
         <% if order.clip_file_name %>
          <%= link_to t("Download"), order.clip.url, target: "_blank" %>
         <% else %>
          -
         <% end %>
       </td>
       <td>
         <%= link_to t("Edit"), edit_order_path(order), class: "btn btn-info" %>
         <%= link_to t("Delete"), order, method: "delete", confirm: "Are you sure?", class: "btn btn-danger" %>
       </td>
	   </tr>
	 <% end %>
 </tbody>
</table>

<%= will_paginate %>