<div class="row">
	<div class="span6 offset4">
		<%= simple_form_for(@order, html: {class: 'form-vertical'}) do |f| %>
		  <%= f.label :status_id %>
		  <%= f.select :status_id, @statuses %>
		  <% if admin_user? %>
		  	<p class="attachment"><%= t("Attach documentation") %></p>
        <%= f.file_field :clip %>
      <% end %>

		  <%= f.button :submit, class: 'btn btn-primary' %>
		
		<% end %>
	</div>
</div>