<% provide :title, "#{t(:order_page)} #{@order.id}" %>
<% provide(:pdf_order_path, order_path + ".pdf") %>

<% if flash.any? %>
  <% flash.each do |key, value| %>
    <% if value.downcase == "thanks for your order" %>
      <p class="alert alert-success">Your Order has been created successfully</p>
    <% end %>
  <% end %>
<% end %>

<% status = @order.status.id %>
<% status = 2 unless status > 2 %>
<%= render 'layouts/status_progress', s1: status, s2: 4, step_text: "step_#{status}_minitext", w:"#{status*25}", w2:"", substep: 0, subtext: "" %>

<p class="alert alert-info"><%= t("The current status of your order is") %>: <strong><%= t(@order.status.name) %></strong>
<% if @order.clip_file_name %>
  <br>
    <%= link_to t("Download temporary documentation"), @order.clip.url %>
  </p>
<% end %>
<% if @order.status.id < 3 || admin_user? %>
  <p><%= link_to t(:edit_order_status), edit_order_path(@order), class: "btn" %></p>
<% end %>

<h2><%= t("Next steps") %></h2>
<ol>
  <% if @order.status.id <= 1 %>
<li><%= t("Please") %> <%= link_to(t("download the attached documents"), yield(:pdf_order_path), target: "_blank") %> <%= t("and send them back to us once signed") %></li>
  <% end %>
  <% if @order.status.id <= 2 %>
<li><%= t("You will be notified by email as soon as we receive the documentation") %></li>
  <% end %>
  <% if @order.status.id <= 3 %>
<li><%= t("We will handle the Tax in your behalf") %></li>
<li><%= t("You will be notified by email as soon as we send you the Tax receipt and complementary documentation") %></li>
  <% end %>
  <% if @order.status.id <= 4 %>
<li><%= t("We will let you know when the final documentation is ready") %></li>
  <% end %>
<li><%= t("You can come back to this page at any moment to check the status of your Order") %></li>
</ol>

<p><%= t("Please, do not hesitate to contact us for any further question at 900000000") %></p>