<li class="dropdown<%= class_if_link 'admin', yield(:title) %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= t("Admin menu") %><b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t("States management"), states_path %></li>
    <li><%= link_to t("Orders management"), orders_path %></li>
    <li><%= link_to t("Status management"), statuses_path %></li>
    <li><%= link_to t("Taxes management"), taxes_path %></li>
    <li><%= link_to t("Concept management"), quote_concepts_path %></li>
    <li class="divider"></li>
    <li>
      <%= link_to t("Sign out"), signout_path, method: "delete" %>
    </li>
  </ul>
</li>