<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Admin menu<b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t(:states_management), states_path %></li>
    <li><%= link_to t(:orders_management), orders_path %></li>
    <li><%= link_to t(:status_management), statuses_path %></li>
    <li><%= link_to t(:taxes_management), taxes_path %></li>
    <li class="divider"></li>
    <li>
      <%= link_to "Sign Out", signout_path, method: "delete" %>
    </li>
  </ul>
</li>