<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <%= render 'layouts/logo' %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Home",    root_path %></li>
        <% if signed_in? %>
        	<li><%= link_to "My account",    current_user %></li>
        	 <% if admin_user? %>
        	   <%= render 'layouts/admin_menu' %>
        	<% end %>
          <li><%= link_to "Sign out", signout_path, method: "delete", class: "signout" %></li>
        <% else %>
        	<li><%= link_to "Sign in", signin_path, class: "signin" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
</header>