<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", :media => "screen" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Economica:700,400italic", :media => "screen" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

  <%= render 'layouts/header' %>

  <%= render 'layouts/page-title' unless yield(:title) == 'Welcome'%>

  <%= render 'layouts/slider' if yield(:title) == 'Welcome'%>
  
  <div id="wrapper">
    <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "flash alert alert-#{key}") %>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/copyright' %>

  <%= debug(params) if Rails.env.development? %>
  
  <%= javascript_include_tag "application" %>
</body>
</html>
