<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/font_loader' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

  <%= render 'layouts/header' %>

  <%= render 'layouts/page-title' unless current_page?('/') %>

  <%= render 'layouts/slider' if current_page?('/') %>
  
  <div id="wrapper">
    <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "flash alert alert-#{key}") %>
      <% end %>

      <%= yield %>
      <div class="clearfix"><hr></div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/copyright' %>

  <%= debug(params) if Rails.env.development? %>
  
  <%= javascript_include_tag "application" %>
</body>
</html>
