<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= render 'layouts/font_loader' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <!-- modernizr not needed -->
</head>
<body>

  <%= render 'layouts/header' %>

  <%= render 'layouts/page-title' unless current_page?('/') %>

  <%= render 'layouts/slider' if current_page?('/') %>
  
  <div id="wrapper">
    <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "flash alert alert-#{key}") %>
      <% end %>

      <%= yield %>
      <div class="clearfix"><hr></div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/copyright' %>

  <%= debug(params) if Rails.env.development? %>
  
  <%= javascript_include_tag "application" %>
  <%= render 'layouts/analytics', google_code: 'UA-XXXXX-X' %>
</body>
</html>
